.wrapper {
    font-size: 15px;
    text-decoration: none;
}

.menu_item_header {
    color: #d2d2d7;
    padding: 20px 25px;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    &:hover {
        background-color: #3f3f3f;
        color: #fff;
        height: 6.3rem;
    }
}

.selected {
    background-color: #3f3f3f;
    color: #fff;
    height: 6.3rem;
}

.list_item_search {
    font-size: 15px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 0;
    color: #515154;
    cursor: pointer;
    display: flex;
    width: 499px;
    justify-content: flex-start;
    margin-top: 10px;
    &:hover {
        color: #0066cc;
    }
}

.line {
    display: flex;
    color: #ebebeb;
    border-top-style: solid;
    border-top-width: 1px;
    width: 499px;
}

@media only screen and (max-width: 63.9375em) {
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .menu_item_header {
        color: #1d1d1f;
        padding: 0px;
        &:hover {
            background-color: #fff;
            color: #0066cc;
            height: 2.5rem;
        }
    }
    .selected {
        background-color: #fff;
        color: #0066cc;
        height: 2.5rem;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .menu_item_header {
        padding: 10px 25px;
        color: #1d1d1f;
        font-size: 18px;
        &:hover {
            background-color: #fff;
            color: #0066cc;
            height: 4.5rem;
        }
    }

    .selected {
        background-color: #fff;
        color: #0066cc;
        height: 4.5rem;
    }
    .rightlinebars {
        margin: 14px 0;
        width: 100%;
    }
    .list_item_bars_search {
        font-size: 15px;
        color: #515154;
        font-weight: 100;
    }
}
