.container {
    position: fixed;
    display: flex;
    height: 42px;
    width: 42px;
    z-index: 10;
    left: 30px;
    bottom: 30px;
    justify-content: center;
}

.button {
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    color: #86868b;
    border-radius: 50px;
    font-size: 30px;
}

@media only screen and (max-width: 63.9375em) {
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .container {
        display: none;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}
