.wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 252px;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.text {
    font-size: 15px;
    color: #1d1d1f;
    display: flex;
    justify-content: center;
}

.input-register-btn {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.input {
    width: 538px;
    font-size: 13px;
    padding: 9.75px;
    background: #fff;
    border-radius: 30px;
    border: 0;
    outline: none;
    &:focus {
        border: 1px solid #818a91;
    }
}

.register-btn {
    color: #fff;
    background: #0066cc;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    width: 176px;
    font-size: 15px;
    padding: 10px 35px;
    margin-left: 5px;
}

@media only screen and (max-width: 63.9375em) {
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .title {
        font-size: 18px;
    }
    .text {
        font-size: 13px;
        text-align: center;
    }
    .input {
        width: 205px;
        height: 40px;
    }
    .register-btn {
        width: 111px;
        height: 48px;
        display: flex;
        align-items: center;
    }
    .input-register-btn {
        align-items: center;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .input {
        width: 363px;
    }
    .register-btn {
        width: 153px;
    }
}
