.wrapper {
    margin-top: 26px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 461px;
}

.content {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 26px;
    color: #1d1d1f;
    font-size: 40px;
    font-weight: 700;
}
