.wrapper {
    position: fixed;
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #515154;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
}

.search-btn {
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

.modal-content {
    position: absolute;
}

.menu-cart-icon {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.oder-number {
    position: absolute;
    color: #333;
    min-width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    top: -0.5em;
    inset-inline-end: -0.8em;
}

.menu-cart-main {
    width: 350px;
    height: 753px;
    background-color: #fff;
    font-size: 14px;
    padding: 20px 30px;
}

.menu-cart_close {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    margin-bottom: 20px;
    color: #818a91;
}

.menu-cart_close_icon {
    cursor: pointer;
}

.menu-cart_content_message {
    &::after {
        content: 'Bạn chưa có sản phẩm nào trong giỏ';
    }
}
