.home_slider {
    height: 474px;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.pages_slider {
    height: 375px;
    width: 1200px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
}

.slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.next,
.prev {
    position: absolute;
    top: 44.5%;
}

.prev-icon,
.next-icon {
    height: 52px;
    width: 52px;
    padding: 5px;
    border-radius: 50px;
    background: #515154;
    opacity: 0.25;
    cursor: pointer;
    &:hover {
        background: #515154;
        box-shadow: none;
        border: 0px solid RGBA(0, 0, 0, 1);
        opacity: 1;
        transition: background-color 0.3s, opacity 0.4s;
    }
}

.next-icon {
    margin-right: 56px;
    color: #fff;
}

.prev-icon {
    margin-left: 56px;
    color: #fff;
}

.next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.slider_pages {
    padding: 2px;
    width: 42px;
    height: 42px;
    margin: 0px 40px;
}

.all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 200;
}

.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 50%;
    display: inline-block;
}

@media only screen and (max-width: 63.9375em) {
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .home_slider {
        height: 360px;
    }
    .prev-icon,
    .next-icon {
        width: 26px;
        height: 26px;
    }
    .next-icon {
        margin-right: 15px;
    }

    .prev-icon {
        margin-left: 15px;
    }

    .pages_slider {
        width: 100%;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .home_slider {
        height: 256px;
    }
    .next,
    .prev {
        top: 40%;
    }

    .pages_slider {
        width: 780px;
        height: 244px;
        margin-top: 25px;
    }
}
